# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# Runtime files
gunicorn.log
gunicorn.pid
app/static/uploads/*

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
